[Desktop Entry]
Encoding=UTF-8
Name=The420Coin
Comment=The420Coin P2P Cryptocurrency
Comment[fr]=The420Coin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=The420Coin, eşten eşe kriptografik sanal para birimi
Exec=the420coin-qt %u
Terminal=false
Type=Application
Icon=the420coin128
MimeType=x-scheme-handler/the420coin;
Categories=Office;Finance;
